@model Car
@{
    ViewData["Title"] = "Edit";
}

<br />
<h1 class="offset-2">Edit</h1>
<hr />
<br />

<form class="offset-2 col-1 marginBottom60" asp-action="Edit" asp-controller="Cars" method="post">

    <label asp-for="ModelName"></label>
    <br />
    <input asp-for="ModelName" value="@Model.ModelName" />

    <hr />

    <label asp-for="Brand"></label>
    <br />
    <input asp-for="Brand" value="@Model.Brand" />

    <hr />

    <label asp-for="Color"></label>
    <br />
    <input asp-for="Color" value="@Model.Color" />

    <hr />

    <label asp-for="ProductionYear"></label>
    <br />
    <input asp-for="ProductionYear" value="@Model.ProductionYear" />

    <hr />

    <input class="btn btn-success" type="submit" value="Submit" />

</form>

<a asp-action="Index" asp-controller="Cars" class="btn btn-primary offset-1 floatLeft">Return</a>