
@{
    ViewData["Title"] = "Index";
}

<br />
<h1 class="offset-2">Index</h1>
<hr />
<br />

<p class="offset-2">
    I do currently not uphold any useful information and nor am I planned to in the end either.<br />
    The plan for this View is simply so the user can see that the website opened like they had hoped for.<br />
    if you want any sort of <strong>useful</strong> information, then go visit the <strong>Cars</strong> button on the top right corner.
</p>

<hr />