body {
  background-color: darkslategrey;
  color: white;
}

#funny-llama {
  height: 40px;
  width: 60px;
}

.errorMessage {
  color: red;
}

.successMessage {
  color: green;
}

#main-nav {
  margin: 0 0 50px 0;
}

.main-tr {
  margin: 0;
}

.floatLeft {
  float: left;
}

.floatRight {
  clear: both;
  float: right;
}

.marginBottom5 {
  margin-bottom: 5px;
}

.marginLeft30 {
  margin-left: 30px;
}

.marginBottom60 {
  margin-bottom: 60px;
}

.marginZero {
  margin: 0;
}

#Equality {
  margin-bottom: -10px;
}

.AlignCenter {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 2px;
}
